:root {
  --cobalt: rgb(0 122 255);
  --dark-blue: rgb(15 112 218);
  --white: rgb(255 255 255);
  --black: rgb(29 29 29);
  --ash: rgb(45 55 72);
}

@font-face {
  font-family: 'Poppins300';
  src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins400';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins600';
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;

  height: 100svh;
}

.main {
  height: 100svh;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

.hero-container {
  position: fixed;
  left: 0;

  min-width: 42.5%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(324.93deg, var(--cobalt) 0.74%, var(--dark-blue) 100%);
}

.hero-content {
  padding: 0 0 3rem;;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 6rem;
}

.motto {
  margin: 0;
  max-width: 593px;

  font-family: 'Poppins400';
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;

  color: var(--white);
}

.login-pics {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  max-width: 593px;
  max-height: 593px;
}

.phone-pics {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-pic {
  position: absolute;
}

.phone-pic-front {
  max-height: 630px;

  z-index: 10;
}

.phone-pic-left {
  margin-right: 12rem;
  max-height: 485px;
  z-index: 9;
}

.phone-pic-right {
  margin-left: 12rem;
  max-height: 485px;
  z-index: 9;
}

.login-container {
  max-width: 57.5%;
  margin-right: auto;
  margin-left: 42.5%;
}

.login-content {
  padding: 4rem 8rem 2rem 10rem;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.logo-img {
  width: 42px;
  height: 48px;
}

.logo-text {
  font-family: 'Poppins400';
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;

  color: var(--black);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading-1 {
  margin: 0;

  font-family: 'Poppins400';
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -2%;

  color: var(--black);
}

.paragraph {
  margin: 0;

  font-family: 'Poppins300';
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;

  color: var(--ash);
}

.form-container {
  width: fit-content;

  display: flex;
  flex-direction: column;
}

.login-form {
  max-width: 750px;

  display: flex;
  flex-flow: row wrap;
  gap: 1.45rem 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-family: 'Poppins300';
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;

  color: var(--ash);
}

.input-field {
  padding: 0 0.75rem;

  width: 20.75rem;
  height: 3rem;

  border: 0.1rem solid rgb(209 209 209);
  border-radius: 5px;

  font-family: 'Poppins300';
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -2%;

  color: var(--ash);
}

.date-format {
  font-size: 10px;
}

.input-date {
  cursor: pointer;
  background-image: url('./assets/svg/calendar.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 50% contain;

  font-size: 16px;
  text-transform: uppercase;
  color: var(--ash);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
}

input[type="date"] {
  appearance: textfield;
}

.checkboxes-container {
  min-width: 22.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-checkbox {
  flex-direction: row;
}

.checkbox {
  margin: 0 0.5rem 0 0;

  width: 20px;
  height: 20px;

  border: 0.1rem solid rgb(209 209 209);
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: var(--cobalt);
}

.link:hover {
  text-decoration: underline;
}

.link:active, .link:visited {
  color: var(--cobalt);
}

.forgot-password-container {
  min-width: 22.35rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.button {
  cursor: pointer;
  appearance: none;

  margin: 0.5rem 0;

  width: 358px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;

  font-family: 'Poppins600';
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
}

.create-account {
  background-color: var(--cobalt);
  color: var(--white);
}

.signin-google {
  gap: 0.75rem;
  background-color: var(--ash);
  color: var(--white);
}

.icon-google {
  max-width: 20px;
  max-height: 20px;
}

.prompt-container {
  margin: auto;
  width: 358px;
  min-height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-badges-container {
  margin-top: 2.5rem;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.75rem;
}

.store-badge {
  display: block;
}

@media screen and (width < 1800px) {
  .prompt-container {
    margin: 0;
  }
}
